<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.zack.plex-docker-recover</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/zack/plex-docker/scripts/plex-docker-recover.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/zack/Library/Logs/plex-docker-recover/launchd.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/zack/Library/Logs/plex-docker-recover/launchd.stderr.log</string>
</dict>
</plist>
